.splash-main-flex-container {
    margin-top: 25%;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.splash-main-content {
    text-align: center;
}


.pithy-text {
    opacity: 1;
    transition: opacity 1000ms ease;    
}

.pithy-text.is-loading {
    opacity: 0;
}
