.nav ul {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.1rem;
}

.nav ul > li > a {
  color: #efefef;
  display: inline;
  text-decoration: none;
  outline: none;
}

.nav ul > li {
  display: inline;
  padding: 0.2rem;
  border-radius: 2px;
  transition: background-color ease 250ms;
}

.nav ul > li:not(.active):hover {
  background-color: #444444;
}

.nav ul > li:not(:last-child) {
  margin-right: 1rem;
}

.nav ul > li:not(.active) > a:hover {
  color: #fefefe;
}

.nav ul > li.active {
  background-color: #656565;
}
