.container {
  padding: 0 10%;
  padding-top: 3rem;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .container {
    padding: 0 2%;
    padding-top: 2rem;
  }
}

.container > .widget-group {
  border: 1px solid black;
  margin-bottom: 2rem;
  border-radius: 4px;
}

.row {
  display: flex;
}

.row > * {
  user-select: none;
}

.row.item {
  cursor: pointer;
  transition: background-color ease 100ms;
}

.row.item:hover {
  background-color: #f6f6f6;
}

.row.item:active {
  background-color: #efefef;
}

.row:not(:last-of-type) {
  border-bottom: 1px solid black;
}

.col:not(.tech) {
  display: block;
  word-wrap: anywhere;
}

.col {
  padding: 0.5rem;
}

.col:not(:last-of-type) {
  border-right: 1px solid black;
}

.title {
  width: 20%;
}

.title.entry {
  text-decoration: underline;
  color: #0026a5;
  text-decoration-color: #0026a5;
}

.title.entry:hover {
  color: #001572;
  text-decoration-color: #001572;
}

.desc {
  width: 60%;
}

.tech {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
}

.tech-tag {
  background-color: #dedede;
  border-radius: 2px;
  padding: 4px;
  margin-bottom: 0.5rem;
}

.tech-tag:not(:last-child) {
  margin-right: 0.5rem;
}
