.container {
  padding: 0 10%;
  padding-top: 3rem;
  font-size: 1.2rem;
}

.container > table,
th,
tr,
td {
  padding: 0.5rem;
  border: 1px solid black;
  border-collapse: collapse;
}

.title-col {
  width: 15%;
  min-width: 15%;
  max-width: 15%;
  text-decoration: underline;
  color: #0026a5;
  text-decoration-color: #0026a5;
}

.title-col:hover {
  color: #001572;
  text-decoration-color: #001572;
}

.tech-col {
  font-size: 1rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.container > table {
  width: 100%;
}

.table-row:hover {
  cursor: pointer;
  background-color: #efefef;
}

.table-row:active {
  background-color: #e5e5e5;
}

.tech-tag {
  background-color: #dedede;
  border-radius: 2px;
  padding: 4px;
}

.tech-tag:not(:last-child) {
  margin-right: 0.5rem;
}

.widget-table:not(:first-child) {
  margin-top: 1rem;
}
