.splash-main-flex-container {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 50%
}

.splash-main-content {
    padding-top: 20vh;
    padding-bottom: 5vh;
    text-align: center;
}


